.splash-container{
    display: flex;
    height:100vh;
}
.splash{
    height:350px;
    width:auto;
    padding-left: 25px;
}
.splash-left-side{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:50%;
}
.splash-right-side{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0;
    background: rgb(143,69,182);
    background: linear-gradient(330deg, rgba(143,69,182,1) 0%, rgba(169,140,209,1) 100%);
    width:50%;
    height:100vh;

}


.logo{
    font-family: "Monoton";font-size:80px;
}
.grey{
    color: grey;
}

.link-container{display: flex;
justify-content:center;
flex-direction: column;
align-items:center;
background-color: white;
padding: 7% 3%;
gap:25px;
width:300px;
box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
border-radius: 4px;}

.link-container a{
    text-decoration: none;
    background-color: #5F1A37;
    color: white;
    padding: 5% 15%;
    border-radius: 5px;
    cursor: pointer;
}
.or{
    font-family: "Lato";
    font-size: 20px;
}
