@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

header {
    display: flex;
    background-color: white;
    position: static;
    font-size: 30px;
    top:0;
    width:100%;
    min-height:60px;
    align-items: center;
    box-sizing: border-box;
    padding: .3rem;
    box-shadow: 0px 0px 2px 0px;
}

header a {
    text-decoration: none;
    color: slategray;
    text-align:center;
}
header li{
    list-style: none;
    display: flex;
    gap:20px   ;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links h2 {
    font-family: 'Monoton', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin-right: 30px;
    margin-top: 5px;
}

.left-side{
    margin: 0px 10%;
}
.right-side{
    margin-left: auto;
    margin-right: 10%;

}
.active{
    color: rgb(47, 53, 59);
}
